.main{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.button{
  width: 100px;
  margin: 8px auto;
  background-color: black;
  color: white;
  padding: 8px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.button:active{
  background-color: rgb(34, 34, 34);
}

.input{
  padding: 6px;
  border-radius: 4px;
  margin: 8px 0 0;
}

.error{
  margin: 0;
  font-size: 0.7rem;
  height: 16px;
}

.data{
  width: 100%;
  padding: 0;
  gap: 16px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
}

.data form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.data form label{
  display:  flex;
  flex-direction: column;
}

.table{
  width: 100%;
  padding: 0;
  gap: 16px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
  border-spacing: 0;
}

.tbody th{
  border-top: 2px solid black;
}

.row{
  padding: 8px;
  font-weight: 800;
  border-right: 2px solid black;
}

.row1 th{
  border-top: 0px;
}

.info{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
}

.value{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.result{
  margin: auto;
  font-size: 1.4rem;
  font-weight: 600;
  width: max-content;
}

.chart{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
}